<main class="main">
  <div class="inner">
        <% if user_signed_in? %>
          <div class="greeting">
            こんにちは、
            <%= link_to current_user.name, user_path(current_user.id), class: :greeting__link %>
            さん
          </div>
        <% end %>
    </div>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
        <% @prototypes.each do |prototype| %>
          <%= render 'prototype', prototype: prototype %>
        <% end %>
    </div>
  </div>
</main>
